@model ReferenceWebsite.Models.ICmsViewModel
<ul>
    @foreach (var ancestor in Model.CmsContent.Ancestors().Where(t => t.IsVisible()))
    {
        <li><a href="@ancestor.Url">@ancestor.Name</a></li>
    }
    <li>@Model.CmsContent.Name</li>
</ul>