@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var poco = Nerdery.Umbraco.Vault.Vault.Context.GetCurrent<ReferenceWebsite.Models.Objects>();
}

@Html.Partial("breadcrumbs")

<table border=1>
	<thead>
		<tr>
			<th>Type</th>
			<th>Expected</th>
			<th>Actual</th>
		</tr>
	</thead>
	<tbody>
		<tr><td>Object</td><td>???</td><td>@poco.Object</td></tr>
	</thead>
</table>