@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Nerdery.Umbraco.Vault

@{
    const int PAUL = 1078;
    Layout = null;
    var poco = Vault.Context.GetCurrent<ReferenceWebsite.Models.Objects>();

    var paul = Vault.Context.GetContentById<ReferenceWebsite.Models.StaffMember>(PAUL);
}

@Html.Partial("breadcrumbs")

<table border=1>
	<thead>
		<tr>
			<th>Type</th>
			<th>Expected</th>
			<th>Actual</th>
		</tr>
	</thead>
	<tbody>
		<tr><td>Object</td><td>Minneapolis</td><td>@paul.PrimaryLocation.Name</td></tr>
	</thead>
</table>