@using Nerdery.Umbraco.Vault

@{
    Layout = null;
}

@Html.Partial("breadcrumbs")

<p>uComponents.UrlPicker: @Html.Partial("ucomponents-url")</p>
	
<p>uComponents.DataTypeGrid: @Html.Partial("ucomponents-datatypegrid")</p>